/* Ensure the styles are only applied to the ExploreUnity page */
.explore-unity-page {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .floor-title {
    font-family: 'Serif';  /* Ensure the correct font */
    font-size: 3em; 
    color: #ac2b37;
    margin: 0;
    letter-spacing: 2px; /* Add a little spacing for distinction */
    text-shadow: 2px 2px 4px rgba(131, 188, 235, 0.678); /* Subtle shadow for better readability */
  }
  
  .explore-unity-page h1 {
    font-family: 'Serif', cursive;
    font-size: 3.5em;
    color: #ac2b37;
    margin-bottom: 15px;
    letter-spacing: 1px;
  }
  
  .explore-unity-page p {
    font-size: 1.5em;
    color: #070606;
    margin-bottom: 30px;
  }
  
  .explore-unity-page .floor-selection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .explore-unity-page .floor-choice-button {
    padding: 15px 30px;
    font-size: 1.3em;
    background-color: #ac2b37;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 250px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .explore-unity-page .floor-choice-button:hover {
    background-color: #ac2b37;
    transform: scale(1.05);
  }
  
  .explore-unity-page .home-choice-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #5c5f5d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .explore-unity-page .home-choice-button:hover {
    background-color: #535854;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .explore-unity-page {
      width: 100%;
      padding: 15px;
    }
  
    .explore-unity-page h1 {
      font-size: 2.5em;
    }
  
    .explore-unity-page .floor-choice-button {
      width: 200px;
      font-size: 1.1em;
    }
  }
  